.tab-active{
    border-radius: 4px;
    background-color: rgba(219, 226, 239, 0.5);
}

:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif; /* Apply the Google font */
}
.wrapper{
    height: 100vh;
    overflow-y: auto;
    background-image: linear-gradient(160deg, #112d4e 0%, #3f72af 100%);
    color: var(--colorLight2);
}
h1{
    text-align: center;
    padding-top: 20px;
}
.tab-container{
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    margin: 0 auto;
    width: 90%;
    margin-top: 4rem;
}
.tab{
    cursor: pointer;
    word-spacing: 1.75px;
    font-size: 0.875rem;
    padding: 5px 8px;
}
.weather-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}
.grant-access{
    all:unset;
    font-size: 0.85rem;
    border-radius: 5px;
    background-color: var(--colorDark2);
    cursor: pointer;
    padding: 10px 30px;
}

.grant-container{
    display: none;
    width: 90%;

    
}
.grant-container.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.grant-container img{
    margin-bottom: 2rem;
    
}
.grant-container p:first-of-type{
    font-size: 1.75rem;
    font-weight: 600;
}
.grant-container p:last-of-type{
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}
.loading-container{
    display: none;
    width: 90%;
}
.loading-container.active{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather-info{
    display: none;
    width: 90%;
    max-width: 1000px;
}
.weather-info.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

}
.city{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
}
.city-name{
    font-size: 2rem;
}

.desc{
    font-size: 1.5rem;
    font-weight: 200;
}
.weather-info img{
    width: 90px;
    height: 90px;
}
.city img{
    width: 30px;
    height: 20px;
    object-fit: contain;
}
.temp{
    font-size: 2.75rem;
    font-weight: 700;
}
.parameter-container{
    display: flex;
    justify-content: center;
    gap: 10px 20px;
    align-items: center;
    margin-top: 2rem;
    width: 90%;
    max-width: 1000px;
}
.parameter{
    width: 30%;
    max-width: 200px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    align-items: center;
}
.parameter img{
    width: 50px;
    height: 50px;
}
.parameter p:first-of-type{
    font-size: 1.15rem;
    font-weight: 600;
}
.parameter p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}
.form-container{
    display: none;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
}
.form-container.active{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    margin-bottom: 3rem;
}
.search{
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 10px;
}
.search::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
.search:focus{
    outline: 3px solid rgba(255, 255, 255, 0.7);
}
.btn{
    padding: unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--colorDark2);
    border: 0;
    cursor: pointer;
}




@media (max-width:600px) {
    .parameter-container{
        flex-direction: column;
        width: 100%;
    }
    .parameter{
        width: 50%;
}
}